@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* header start */
.header {
  width: 100%;
  padding: 0px 0px 100px 0px;
}
/* menu start */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}
.logo-img {
  height: 5em;
}
.link-img {
  display: none;
}
.link-text2 {
  display: flex;
  align-items: center;
}
.link-text a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 0px 20px;
  font-size: 16px;
}
.link-text a:active {
  color: #7d0fc6;
}
.link-text li {
  list-style-type: none;
}
/* menu end */
.btn-header {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background: #7d0fc6;
  color: white;
  margin-left: 5px;
}
.btn-header:hover {
  color: #7d0fc6;
  background: white;
}
.btn-primary {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background: #7d0fc6;
  color: white;
  border: 1px solid #7d0fc6;
}
.btn-primary:hover {
  border: 1px solid #7d0fc6;
  background: transparent;
  color: #7d0fc6;
}

/* slider start */
.slider {
  width: 90%;
  height: 35em;
  margin: 0 auto;
  background-image: url(Images/slider.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}
.slider-area {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 10px;
}

.slider-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.slider-text h1 {
  font-size: 72px;
  color: white;
  padding: 2em 0em 0em 0em;
}
.slider-text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.664);
  margin-bottom: 40px;
}

.form {
  width: 51%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.236);
}
.form-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
#when1 {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  font-weight: 600;
}

#when {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  font-weight: 600;
}

/* slider end */
/* header end */
/* Popular start */
.popular {
  background-color: #f3f3f3;
  padding: 100px 0px;
}
.popular-main {
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
}
.img-size {
  width: 32em;
}
.h3-header {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
  
}
.p-primary {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.514);
}
#ul-li {
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.popular button {
  margin-top: 20px;
  margin-left: 0px;
}
/* Popular end */
/* destination start */
.destination {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}
.destination-area {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.destination-area h3 {
  margin-bottom: 0px;
}
.collage-img {
  padding-top: 50px;
}
.img-box {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.country {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.country:hover {
  opacity: 0.8;
}
.country:hover h3 {
  z-index: 2;
}
.maldives {
  background-image: url(Images/Rectangle\ 5.png);
  width: 50%;
}
.indonesia {
  background-image: url(Images/Rectangle\ 8.png);
  width: 50%;
}
.srilanka {
  background-image: url(Images/Rectangle\ 6.png);
  width: 30%;
}
.america {
  background-image: url(Images/Rectangle\ 7.png);
  width: 40%;
}
.kashmir {
  background-image: url(Images/Rectangle\ 9.png);
  width: 30%;
}
.bangladesh {
  background-image: url(Images/Rectangle\ 11.png);
  width: 40%;
}
.bandarban {
  background-image: url(Images/Rectangle\ 10.png);
  width: 60%;
}
/* destination end */
/* choose us start */
.choose-us {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}
.choose-us-area {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.choose-us-area h3 {
  margin-bottom: 0px;
}
.card-area1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.374);
  padding: 30px;
  border-radius: 20px;
}
.card1 {
  background-color: #fffbf7;
}
.card2 {
  background-color: #f5fdff;
}
.card3 {
  width: calc(50% - 70px);
  background-color: #fef6f6;
  margin: 0 auto;
}
.card-h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.card-img {
  height: 50px;
}
/* choose us end */
/* discounts start */
.discounts {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.discounts-area {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.discounts-area h3 {
  margin-bottom: 0px;
}
/* discounts end */
/* booking start */

.booking {
  width: 90%;
  height: 30em;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.pool1 {
  background-image: url(Images/Group\ 39.png);
}
.pool2 {
  background-image: url(Images/Group\ 40.png);
}
.booking-area {
  background-color: rgba(247, 251, 255, 0.853);
  margin: 30px 50px 30px 0px;
  height: 60%;
  width: 50%;
  border-radius: 20px;
  border: 1px solid white;
  padding: 40px;
}
.booking-1 {
  background-color: #07021100;
  border: none;
}
.box-area {
  display: flex;
}
.box {
  display: flex;
  margin-right: 20px;
}
.box img {
  height: 20px;
  margin-right: 10px;
}
.b-heading {
  font-weight: 700;
  line-height: 2.5em;
  margin-top: 10px;
}
.b-heading3 {
  font-weight: 700;
  line-height: 2.5em;
  color: #7d0fc6;
  margin-bottom: 10px;
}
.booking-s2 {
  margin-left: 50px;
}
.button-area {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 50px 0px;
}

/* booking end */

/* airlines start */
.airlines {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-bottom: 100px;
}
.airlines-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.airlines-plane {
  padding-top: 50px;
}
.airlines-plane-area {
  display: flex;
  gap: 20px;
}
.air-box {
  display: flex;
  align-items: center;
  height: 100px;
  width: 30%;
  gap: 20px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #7a7a7a5e;
}
.air-box:hover {
  box-shadow: 10px 10px 10px #7d0fc638;
}
.air-box img {
  height: 36px;
}

/* airlines end */
/* newsletter start */
.newsletter {
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  padding: 100px 0px 100px 0px;
}
.newsletter-area1 {
  border: 1px solid #7d0fc6;
  border-radius: 20px;
  padding: 30px;
  width: 40%;
}
.newsletter-area2 {
  width: 60%;
}
.newsletter-area2 img {
  width: 100%;
  height: 100%;
  position: relative;
}

.input-area {
  display: flex;
  flex-direction: column;
}
.input-area input {
  padding: 15px 20px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 25px;
}
.b-heading4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 2.5em;
  margin-top: 10px;
}
.newsletter hr {
  margin: 20px 0px;
}
.save {
  background-color: #7d0fc6;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
  text-align: center;
  transform: rotate(-20deg);
  position: absolute;
  margin-left: 24.5em;
  margin-top: -8.1em;
}
/* newsletter end */

/* footer start */
.footer {
  width: 100%;
  background-color: #f3f3f3;
  padding: 50px 0px;
}
.footer-main {
  width: 90%;
  margin: 0 auto;
  padding: 0px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-area {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.text-area p {
  margin-top: 10px;
  margin-bottom: 30px;
}
.social {
  display: flex;
  gap: 20px;
}
.social > img {
  height: 3em;
}
.footer-last {
  margin-top: 30px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.footer-last p {
  margin-top: 20px;
}
.logo-img2 {
  height: 7em;
}

/* footer end */
/* mobile view start */

@media screen and (max-width: 566px) {
  /* header start*/
  .header {
    padding: 0px 0px 50px 0px;
  }
  .link-text2 {
    display: none;
  }
  .link-img {
    display: block;
    height: 40px;
  }
  .slider-text h1 {
    font-size: 35px;
    padding: 1.5em 0em 0em 0em;
  }
  .slider-text p {
    font-size: 14px;
  }
  .form {
    width: 70%;
    margin-top: -20px;
  }
  .form-area {
    flex-direction: column;
  }
  #when1 {
    height: 2em;
    width: 16em;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  #when {
    height: 3em;
    width: 19em;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .new {
    height: 50px;
    width: 117%;
  }
  .btn-header {
    padding: 15px 96px;
    margin-left: 0px;
  }
  /* header end */
  /* popular start */
  .popular {
    padding: 50px 0px;
  }
  .popular-main {
    flex-direction: column;
  }
  .img-size {
    width: 23em;
  }
  .h3-header {
    font-size: 30px;
  }
  .destination {
    padding-top: 50px;
  }
  .destination-area {
    width: 80%;
  }
  .destination-area h3 {
    margin-bottom: 20px;
  }
  .p-primary {
    font-size: 14px;
  }
  .img-box {
    flex-direction: column;
  }
  .maldives {
    width: 100%;
  }
  .indonesia {
    width: 100%;
  }
  .srilanka {
    width: 100%;
  }
  .america {
    width: 100%;
  }
  .kashmir {
    width: 100%;
  }
  .bangladesh {
    width: 100%;
  }
  .bandarban {
    width: 100%;
  }
  /* popular end */
  /* choose us start */
  .choose-us {
    padding-top: 50px;
  }
  .choose-us-area {
    width: 100%;
    padding-bottom: 20px;
  }
  .choose-us-area h3 {
    margin-bottom: 10px;
  }
  .card-area1 {
    flex-direction: column;
  }
  .card3 {
    width: 80%;
  }
  /* choose us end */
  /* discount start */
  .discounts {
    padding-top: 50px;
  }
  .discounts-area {
    width: 100%;
  }
  .booking {
    height: 37em;
  }
  .booking-1 {
    display: none;
  }
  .booking-area {
    width: 65%;
    margin: 0 auto;
  }
  .box {
    margin-right: 10px;
  }
  .b-heading {
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 5px;
  }
  .p-primary {
    font-size: 14px;
  }
  /* discount end */
  /* airlines start */

  .airlines {
    padding: 50px 0px 50px 0px;
    margin-bottom: 20px;
  }
  .airlines-text {
    width: 90%;
  }
  .airlines-plane-area {
    flex-direction: column;
  }
  .air-box {
    width: 85%;
  }

  /* airlines end */
  /* newsletter start */
  .newsletter {
    flex-direction: column;
    padding: 50px 0px 50px 0px;
  }
  .newsletter-area1 {
    width: 80%;
  }
  .newsletter-area2 {
    width: 100%;
    margin: 0 auto;
  }
  .save {
    padding: 15px;
    width: 40%;
    margin-left: 9.5em;
    margin-top: -7em;
  }

  /* newsletter end */
  /* footer start */
  .logo-img2 {
    height: 5em;
  }
  .social > img {
    height: 2em;
  }
  /* footer end */
}
/* mobile view end */
